@charset 'UTF-8';
@import url("contents.css");

body {color:#000; margin:0px; text-align:center; background: #EEE url(../images/ruler.gif) 0 0 repeat-x;}
#container { margin:0px auto; padding:0px; position:relative; }
#container_inner{ margin:0px auto; width: 1090px;}

/* ____ header ____ */
#header {padding-top: 6em;}
#header h1{ width: 702px; height: 177px; background: url(../images/title.gif) 0 0 no-repeat; }
#header h1 a{ display:block; width: 702px; height: 177px;  }
#righthead{ position: absolute; top: 10px; right: 0px;}

#righthead h3#profile, #righthead h3#contact, #righthead h3#twitter{ display: inline;}

#righthead h3#profile a{ width:72px; height:22px; background: url(../images/sprite01.gif) -108px -8px no-repeat; float: right; margin-right: 5px;}
#righthead h3#contact a{ width:72px; height:22px; background: url(../images/sprite01.gif) -184px -8px no-repeat; float: right; margin-right: 5px;}
#righthead h3#twitter a{ width:24px; height:22px; background: url(../images/sprite01.gif) -262px -8px no-repeat; float: right; margin-right: 10px;}


/* ____ only top ____ */
#toplist li{ display:inline; margin:10px; font-size:0.9em;}
#toplist{ margin:20px; font-size:1.2em; line-height:1.6;}

#thumb_frame h2{ margin: 5px 0px;}
#topthumb_web li p, #topthumb_go li p{ padding-bottom: 20px;}
#topthumb_web li p:first-line, #topthumb_go li p:first-line{ padding-top: 2px; color: #000; font-weight: bold;}
#topthumb_web li img, #topthumb_go li img{ text-align: center; margin: 10px; height: 81px; }

#topthumb_web { text-align: left; width: 676px; font-size: 1.1em; float:left; margin-left: 4px;}
#topthumb_web ul{ width: 680px; margin-right: -4px; overflow: hidden; _zoom: 1}
#topthumb_web li{ display: inline; float: left; }
#topthumb_web li a{ display:block; width: 132px; height: 101px; color:#999; text-decoration: none; font-weight: bold;
background: url(../images/sprite01.gif) -6px -53px no-repeat; margin-right: 4px; margin-bottom: 2px; }

#topthumb_go { text-align: left; width: 404px; font-size: 1.1em; float:left; margin-left: 4px;}
#topthumb_go ul{ width:408px; margin-right: -4px; overflow: hidden; _zoom: 1}
#topthumb_go li{ display: inline; float: left; }
#topthumb_go li a{ display:block; width: 132px; height: 101px; color:#999; text-decoration: none; font-weight: bold;
background: url(../images/sprite01.gif) -154px -53px no-repeat; margin-right: 4px; margin-bottom: 2px; }

	
/* ____ footer ____ */
.copyright{ margin:0px auto; padding-top:0px; font-size:120%; font-family:"Verdana", "Lucida Grande", sans-serif; }

/* ____ common parts ____ */
.hrgray { border-bottom: 1px solid #A9A9A9; background: transparent; margin:15px auto; padding:0px; height:1px; font-size: 1%; }
.hrbr { border-bottom: 1px solid #8d735a; background: transparent; margin:15px auto; padding:0px; height:1px; font-size: 1%; }
.txtindent{ margin:10px 0px 10px 50px;}

/* ____ versatile elements ____ */
h1,h2,h3,h4,h5,form,p,ul,ol,li{ margin:0; padding:0; }

ul li{ list-style-type:none; }
.list{ padding-left:20px; }
	.list ul li{ list-style-type: disc;	margin-left:10px; }
	.list ol li{ margin-left:15px; }

.nowrap{ white-space: nowrap; }
img{ border:0px none;}
table img{ vertical-align:middle; }


/* ____ versatile class ____ */
.floatleft{ float:left;}
.floatright{ float:right;}
.center{ text-align:center;}
.left{ text-align:left;}
.right{ text-align:right;}
.inline div{ display:inline;}

.rounded{  border-radius: 7px;        /* CSS3草案 */  
-webkit-border-radius: 7px;    /* Safari,Google Chrome用 */  
-moz-border-radius: 7px;   /* Firefox用 */  }  

/*float-clear */
.cfl{ clear:both; height:0pt; line-height:0pt; font-size:1px; display:block; }
/*clearfix */
.clearfix:after{ clear:both; content:"."; display:block; height:0pt; visibility:hidden;}
/*clearfix IE6用*/
* html .clearfix { height:1%;}
.clearfix { display:block;}

/* ____ font size ____ */
#header,#container,#container_pop,#footer,#copy,table{
	font-size:x-small;
	line-height:140%;
	font-family:"Arial", "Lucida Grande", sans-serif; }

* html #header,* html #container,* html #container_pop,* html #footer,* html #copy,
* html table{
/* ____ xml宣言なしの場合 winIE用 ____ */
	font-size:xx-small;
	line-height:140%;
	font-family:"Arial", "Lucida Grande", sans-serif; }

.alt{ position:absolute; top:-5000px; left:-999px;}

/*eof*/
