<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName yoshiko.901farm.com

  DocumentRoot /mnt/media/workspace/yoshiko.901farm.com/public
  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>
  <Directory /mnt/media/workspace/yoshiko.901farm.com/public>
    Options Indexes FollowSymLinks MultiViews +Includes
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog /var/log/apache2/error.log
  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn
  CustomLog /var/log/apache2/access.log combined
</VirtualHost>
