@charset 'UTF-8';


.contentsframe{ float:left; width:400px; font-size:1.5em; line-height:1.7; color:#696969;}
.contentsframe dl{ margin:2px 0px;}
.contentsframe dt{ display:inline; padding-right:15px;}
.contentsframe dd{ display:inline; margin:0px; font-style:italic; text-decoration:underline; }

/* ____ Top page____ */
#topimg{ position:relative; background:url(../images/top_title.gif) no-repeat center; margin:135px auto 20px; width:300px; height:330px;}
#top_sort{ position:absolute; top:160px; left:30px;}
/*#top_sort li{ display:block; width:23px; height:55px; background:url(../images/top_sort.gif) no-repeat;}*/
#top_sort li a{ display:block; width:23px; height:55px; background:url(../images/top_sort.gif) no-repeat;}
#top_sort .jp a{ background-position:0px 0px;}
#top_sort .en a{ background-position:0px -55px;}
#top_sort .en_nolink{ background-position:-46px -55px;}
#top_sort .jp a:hover{ background-position:-23px 0px;}
#top_sort .en a:hover{ background-position:-23px -55px;}
.topcopyright{ font-size:0.67em; color:#696969; font-family:georgia, times, serif; margin-bottom:115px;}



/* ____ contents titles____ */
#hello h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px 0px no-repeat; margin-bottom:30px;}
#news h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -35px no-repeat; margin-bottom:30px;}
#news_monthly h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -350px no-repeat; margin-bottom:30px;}
#news_about h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -385px no-repeat; margin-bottom:30px;}
#schedule h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -70px no-repeat; margin-bottom:30px;}
#profile h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -105px no-repeat; margin-bottom:30px;}
#ancestors h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -140px no-repeat; margin-bottom:30px;}
#dictionary h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -175px no-repeat; margin-bottom:30px;}
#books h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -210px no-repeat; margin-bottom:30px;}
#quotes h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -245px no-repeat; margin-bottom:30px;}
#links h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -280px no-repeat; margin-bottom:30px;}
#supporters h2{display:block; height:30px; background:url(../images/contenstitles.jpg) 0px -315px no-repeat; margin-bottom:30px;}

/* ____ contents common____ */
#hello, #news, #news_monthly, #news_about,
#schedule, #profile, #ancestors, #dictionary, #books, #quotes, #links, #supporters{text-align: left; width:400px;}
.profile_caption, .ancestors_caption, .news_caption{ display:block; text-align:right; color:#000; font:bold 0.7em "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; padding-bottom:5px;}
#profile img.pic, #ancestors img.pic, #news img.pic{display:block; margin-top:7px; margin-bottom:5px;}

/* ____ contents "Hello"____ */
#hello h3{font-size:1.6em; font-weight:normal; color:#000;}
#hello h4{font-size:1.1em; font-weight:normal; color:#000; margin-top:10px;}
#hello p{line-height:1.8; text-indent:1em;}


/* ____ contents "News"____ */

#news h3#nsubt01{display:block; height:30px; background:url(../images/newssubtitles.gif) 0px 0px no-repeat; margin-top:15px;}
#news h3#nsubt02{display:block; height:30px; background:url(../images/newssubtitles.gif) 0px -36px no-repeat; margin-top:15px;}
#news h3#nsubt03{display:block; height:30px; background:url(../images/newssubtitles.gif) 0px -73px no-repeat; margin-top:15px;}
#news h3#nsubt04{display:block; height:30px; background:url(../images/newssubtitles.gif) 0px -109px no-repeat; margin-top:15px;}
#news dl{margin-bottom:10px;}
#news dd, #news dt{ display:block;font-style:normal; text-decoration:none; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;}
dd.nlink02 a{ color:#306C3B;}
dd.nlink03 a{ color:#632454;}
dd.nlink04 a{ color:#6D6D6D;}
#news_index{font-size:0.9em;}

#news_monthly h3, #news_about h3{font-size:1.6em; font-weight:normal; color:#000;}
#news_about h3{margin-bottom:15px;}
#news_monthly h4, #news_about h4{font-size:1.5em; font-weight:normal; color:#000; margin-top:30px; margin-bottom:15px;}
#monthly_detail p,#about_detail p{text-indent:1em;}

/* ____ contents "Schedule"____ */
#schedule h3, #news_about h3{font-size:1.6em; font-weight:normal; color:#000;}
.sche_table{ font-size:0.9em; width:400px; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; margin-bottom:20px;}
.sche_table th, .sche_table td.schetext{ padding:4px 10px;}
.sche_table th{ text-align:center; font-weight:normal; background:#6D1E54; color:#FFF; width:6em;}
.sche_table td{ text-align:left;}
.sche_line{ height:3px; background:url(../images/sche_line.gif) repeat-x;}
.sche_table .purple{color:#6D1E54;}


/* ____ contents "Dictionary"____ */

#tab-container-1-nav{ width:400px; height:15px; margin-top:-20px; margin-bottom:30px; }
#tab-container-1-nav li{ display:inline;}
#tab-container-1-nav li a{ display:block; height:15px; float:left; background: url(../images/dictionary_menu.gif) no-repeat 0px 0px;}

#tab-container-1-nav .d01 a{ width:44px; background-position: 0px 0px;}
#tab-container-1-nav .d02 a{ width:43px; background-position: -44px 0px;}
#tab-container-1-nav .d03 a{ width:43px; background-position: -87px 0px;}
#tab-container-1-nav .d04 a{ width:43px; background-position: -130px 0px;}
#tab-container-1-nav .d05 a{ width:43px; background-position: -173px 0px;}
#tab-container-1-nav .d06 a{ width:43px; background-position: -216px 0px;}
#tab-container-1-nav .d07 a{ width:43px; background-position: -259px 0px;}
#tab-container-1-nav .d08 a{ width:43px; background-position: -302px 0px;}

#tab-container-1-nav .d01 a:hover{ width:44px; background-position: 0px -18px;}
#tab-container-1-nav .d02 a:hover{ width:43px; background-position: -44px -18px;}
#tab-container-1-nav .d03 a:hover{ width:43px; background-position: -87px -18px;}
#tab-container-1-nav .d04 a:hover{ width:43px; background-position: -130px -18px;}
#tab-container-1-nav .d05 a:hover{ width:43px; background-position: -173px -18px;}
#tab-container-1-nav .d06 a:hover{ width:43px; background-position: -216px -18px;}
#tab-container-1-nav .d07 a:hover{ width:43px; background-position: -259px -18px;}
#tab-container-1-nav .d08 a:hover{ width:43px; background-position: -302px -18px;}

#tab-container-1-nav .d01 a.active{ width:44px; background-position: 0px -18px;}
#tab-container-1-nav .d02 a.active{ width:43px; background-position: -44px -18px;}
#tab-container-1-nav .d03 a.active{ width:43px; background-position: -87px -18px;}
#tab-container-1-nav .d04 a.active{ width:43px; background-position: -130px -18px;}
#tab-container-1-nav .d05 a.active{ width:43px; background-position: -173px -18px;}
#tab-container-1-nav .d06 a.active{ width:43px; background-position: -216px -18px;}
#tab-container-1-nav .d07 a.active{ width:43px; background-position: -259px -18px;}
#tab-container-1-nav .d08 a.active{ width:43px; background-position: -302px -18px;}

#dictionary h3{font-size:1.6em; font-weight:normal; color:#000; margin:30px 0px 10px 0px;}
#dictionary h3 span.furigana{font-size:0.6em; }
#dictionary p{text-indent:1em;}

/* ____ contents "Profile" and "Ancestors"____ */
#profile p.path{ font-size:1em; color:#711D82; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; margin-top:-20px;}
#profile p.path a{ color:#887938;}
#profile .picL{width:196px; float:left; margin-right:8px;}
#profile .picR{width:196px; float:left;}

#profile h3{font-size:1.6em; font-weight:normal; color:#000; margin:15px 0px;}

#profile_award{margin:20px 0px;}
.profile_awardG{margin-top:20px;}
#profile .thumtitle{ margin-top:30px; width:400px;}
#profile .thumtitle img{ float:left; margin-right:10px; padding-bottom:15px;}
#profile .thumtitle h4{ font-size:1em ;float:left; margin-top:50px; color:#000; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;}
#profile .thumtitle h4:first-line{ font-size:1.2em }

#profile_detail p, #profile_group p, #ancestors_detail p{text-indent:1em;}

#pedigree{ float:right;}
#pedigree a{ cursor: pointer;}

#ancestors h3{font-size:1.6em; font-weight:normal; color:#000; margin:10px 0px; line-height:1.4em;}

#ancestors p.path{ font-size:1em; color:#2B2C82; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; margin-top:-20px;}
#ancestors p.path a{ color:#887938;}
#ancestors .picL{width:196px; float:left; margin-right:8px;}
#ancestors .picR{width:196px; float:left;}
#ancestors  h4{ margin:15px 0px; font-size:1.2em; color:#000; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;}
#ancestors .picblock{display:block; min-height:320px;}

#pedigreechart{ position:relative; width:610px; height:760px; margin:0px auto;}
#pedigreechart .close{ display:block; position:absolute; bottom:20px; right:20px; width:70px; height:20px;}
#pedigreechart a{display:block;}
#pedigreechart ul li{ list-style:none; display:inline;}

.peda01 a{ cursor:pointer; position:absolute; top:20px; right:85px; width:25px; height:270px; background:url(../images/0.gif);}
.peda01 a:hover, #ped_a01 .peda01 a, #ped_a01 .peda01 a:hover{ background:url(../images/ped_a01.gif) no-repeat 0 0;}
.peda02 a{ cursor:pointer; position:absolute; top:320px; right:85px; width:25px; height:270px; background:url(../images/0.gif);}
.peda02 a:hover, #ped_a02 .peda02 a, #ped_a02 .peda02 a:hover{ background:url(../images/ped_a02.gif) no-repeat 0 0;}
.peda03 a{ cursor:pointer; position:absolute; top:30px; right:360px; width:25px; height:120px; background:url(../images/0.gif);}
.peda03 a:hover, #ped_a03 .peda03 a, #ped_a03 .peda03 a:hover{ background:url(../images/ped_a03.gif) no-repeat 0 0;}
.peda04 a{ cursor:pointer; position:absolute; top:170px; right:335px; width:25px; height:120px; background:url(../images/0.gif);}
.peda04 a:hover, #ped_a04 .peda04 a, #ped_a04 .peda04 a:hover{ background:url(../images/ped_a04.gif) no-repeat 0 0;}
.peda05 a{ cursor:pointer; position:absolute; top:170px; right:250px; width:25px; height:120px; background:url(../images/0.gif);}
.peda05 a:hover, #ped_a05 .peda05 a, #ped_a05 .peda05 a:hover{ background:url(../images/ped_a05.gif) no-repeat 0 0;}
.peda06 a{ cursor:pointer; position:absolute; top:320px; right:335px; width:25px; height:120px; background:url(../images/0.gif);}
.peda06 a:hover, #ped_a06 .peda06 a, #ped_a06 .peda06 a:hover{ background:url(../images/ped_a06.gif) no-repeat 0 0;}
.pedp01 a{ cursor:pointer; position:absolute; top:470px; right:335px; width:25px; height:120px; background:url(../images/0.gif);}
.pedp01 a:hover, #ped_p01 .pedp01 a, #ped_p01 .pedp01 a:hover{ background:url(../images/ped_p01.gif) no-repeat 0 0;}
.pedp02 a{ cursor:pointer; position:absolute; top:620px; right:335px; width:25px; height:120px; background:url(../images/0.gif);}
.pedp02 a:hover, #ped_p02 .pedp02 a, #ped_p02 .pedp02 a:hover{ background:url(../images/ped_p02.gif) no-repeat 0 0;}
.pedp03 a{ cursor:pointer; position:absolute; top:470px; right:501px; width:25px; height:120px; background:url(../images/0.gif);}
.pedp03 a:hover, #ped_p03 .pedp03 a, #ped_p03 .pedp03 a:hover{ background:url(../images/ped_p03.gif) no-repeat 0 0;}




/* ____ contents "Books"____ */
#books .mainimg{ margin-bottom:15px;}
#books .thumtitle{ margin-top:40px; width:400px;}
#books .thumtitle img{ float:left; margin-right:10px;}
#books .thumtitle h3{ font-size:1.1em ;float:left; margin-top:40px; color:#000; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;}
#books h4{font-size:1.6em; font-weight:normal; color:#000; margin:15px 0px;}
#book_index a.continue{ color:#C80000;}
#books p.path{ font-size:1em; color:#1A7780; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; margin-top:-20px;}
#books p.path a{ color:#887938;}
#books img.bookimg{ padding:5px 0px;}
#books #book_detail h3{ font-size:1.2em; color:#000; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;}
#books #book_detail .publisher{ font-size:1em; color:#000; font-family:"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; display:block; padding-bottom:10px;}
#book_index p, #book_detail p{text-indent:1em;}

/* ____ contents "Links"____ */
.link_list ul li{ margin-top:15px;}
#links h3{font-size:1.6em; font-weight:normal; color:#000;}

/* ____ contents "Supporters"____ */
#supporters h3{font-size:1.6em; font-weight:normal; color:#000;}
