body {
	background:url('bg2.jpg') repeat-y center 0;
	background-size:100%;
	padding:10px;
	margin:0; word-spacing: .2em;
}

#container{ width: 800px; margin: 0 auto;}

h1{ font-size: 3em; text-align: center; margin-top: 1em;}
h1 span { display:block; font-size:0.5em; }
h2{ font-size: 1.6em; margin-bottom: 0;}
.story { font-style:italic;}

header{ display: block; padding-bottom: 1em; }

section img{ float: right; margin-left: 1em;}
section{ display: block; padding: 1em 0;}



hr { height:33px; background:url(swirls2.gif) no-repeat 50% 50%;
	border:0; }

img { border:1px solid #111; -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	max-width:none; }

/*float-clear */
.cfl{ clear:both; height:0pt; line-height:0pt; font-size:1px; display:block; }
/*clearfix */
.clearfix:after{ clear:both; content:"."; display:block; height:0pt; visibility:hidden;}
/*clearfix IE6—p*/
* html .clearfix { height:1%;}
.clearfix { display:block;}

