@charset 'Shift_JIS';

@import url("http://www.justsystems.com/jp/label/use/css/style.css");

/* Common */
.alt{ position:absolute; top:-5000px; left:-999px;}
#contents{ font-size:16px; line-height:1.2; font-family: Meiryo, ÉÅÉCÉäÉI, "ÇlÇr ÇoÉSÉVÉbÉN", Helvetica, sans-serif; position:relative;}

/*float-clear */
.cfl{ clear:both; height:0pt; line-height:0pt; font-size:1px; display:block; }
/*clearfix */
.clearfix:after{ clear:both; content:"."; display:block; height:0pt; visibility:hidden;}
/*clearfix IE6óp*/
* html .clearfix { height:1%;}

/* Top page */
#top_title{ display:block; width:700px; height:55px; background:url(../images/top_title.gif) no-repeat;}
#forflash{ background:#FFFF99; width:700px; height:300px; margin-bottom:7px;}
#top_lead{ display:block; width:510px; border:#FFA200 solid 1px; margin-bottom:10px;}
#top_lead p{ color:#AA4900; font-size:0.7em; padding:0px 15px 12px;}
#topboxes{ display:inline; width:512px; height:198px;}
#topbox01{ float:left; background:url(../images/topbox01.gif) no-repeat; margin-right:10px;}
#topbox02{ float:left; background:url(../images/topbox02.gif) no-repeat; margin-right:10px;}
#topbox03{ float:left; background:url(../images/topbox03.gif) no-repeat;}
#topbox01 h2 a, #topbox02 h2 a, #topbox03 h2 a{ display:block; width:164px; height:198px;}
#topbox01 h2 a:hover{ background:url(../images/topbox01.gif) no-repeat; background-position: 0px -198px;}
#topbox02 h2 a:hover{ background:url(../images/topbox02.gif) no-repeat; background-position: 0px -198px;}
#topbox03 h2 a:hover{ background:url(../images/topbox03.gif) no-repeat; background-position: 0px -198px;}


/* 5merits page */
#merits_title{ display:block; width:514px; height:58px; background:url(../5merit/images/merits_title.gif) no-repeat; position:relative;}
p#top_link{ margin:0; padding:0;}
#top_link{ position:absolute; top:0; right:0; }
#top_link a{ display:block; width: 135px; height:19px; background:url(../images/top_link.gif) no-repeat;}
#merits_lead{ width:400px;}
#merits_lead p{ color:#AA4900; font-size:0.7em; margin:15px 29px; padding:0;}
#merits_lead p .pink{ color:#FF0064; font-weight:bold;}
#merits_frame ol li{ list-style:none; margin:0; padding:0; margin-bottom:10px; position:relative; display:block; width:514px; height:330px;}
#merits_frame ol{ margin:0; padding:0;}
#lead_illust{ position:absolute; top:58px; right:0px; display:block; width:109px; height:98px; z-index:999;}
.merit01{ background:url(../5merit/images/merit1.gif) no-repeat 29px 0px;}
.merit02{ background:url(../5merit/images/merit2.gif) no-repeat 29px 0px;}
.merit03{ background:url(../5merit/images/merit3.gif) no-repeat 29px 0px;}
.merit04{ background:url(../5merit/images/merit4.gif) no-repeat 29px 0px;}
.merit05{ background:url(../5merit/images/merit5.gif) no-repeat 29px 0px;}
.godetail a{ background:url(../5merit/images/godetail.gif) no-repeat 0 0; display:block; width:103px; height:28px; position:absolute; bottom:10px; right:29px;}
.godetail a:hover{ background-position:0px -28px;}
.dot_line{ background:url(../5merit/images/dot_line.gif) repeat-x; display:block; width:514px; height:3px; position:absolute; bottom:0px; left:0px;}


/* product */
#productArea { width:511px; border:2px solid #ffdda0; background:#fffcf3; margin-top:20px;}
#productArea .titleArea{ margin:25px 30px;}
#productArea h3{ background:url(../images/product_title.gif) no-repeat 0 0; height:55px; display:block; margin:0px; padding:0px;}
#productArea p.lead{ color:#868686; font-size:0.7em; display:block;}
#productArea ul{ list-style-type:none; margin:0; padding:0;}
#productArea .iconArea{ margin:0px 0px 0px 30px;}
#productArea ul.icon { padding:7px 0 0;}
#productArea ul.icon li { float:left; padding-right:6px; margin-bottom:5px;}
#productArea #notice p{ color:#FF6600; margin:10px 30px; font-size:0.7em;}
#productArea .lineupArea { width:451px; margin:30px 0 30px 25px;}
#productArea .lineupArea div.img { float:left; width:100px;}
#productArea .lineupArea .lineup { float:right; width:340px;}
#productArea .lineupArea .lineup table tr td{ padding:5px;}
#productArea .lineupArea .lineup table tr.hd td{ background-color:#ffd483; color:#FFFFFF; text-align:center;}
#productArea .lineupArea .lineup table tr.line td{ border-bottom:#ffeece solid 1px; height:4em;}
#productArea .lineupArea .lineup table tr.line td.btn{width:87px;}
#productArea .lineupArea .lineup .popnotice{ font-size:63%; line-height:1.4; color:#666666; padding:0px 5px;}
table .sizeadj { font-size:63%; line-height:1.4; color:#666666;}
.hr_pro{ height:21px; border-bottom:#ffeece solid 1px; margin: 0px 0px 20px 30px; width:451px; }
.prodetail a{ background:url(../images/productdetails.gif) no-repeat 0 0; display:block; width:100px; height:22px; margin:10px auto;}
.prodetail a:hover{ background-position:0px -22px;}




/* voices */
#bottomlinks{ position:relative; background:url(../images/bottomlinks.gif) 0 0 no-repeat; width:514px; height:96px;}
#bottomlinks ul{ margin:0; padding:0;}
#bottomlinks ul li{ list-style:none; margin:0; padding:0;}
#bottomlinks ul li a{ display:block; width:170px; height:30px;}
.btl01{ position:absolute; top:1px; left:1px;}
.btl02{ position:absolute; top:1px; left:172px;}
.btl03{ position:absolute; top:1px; left:345px;}
.btl04{ position:absolute; top:32px; left:1px;}
.btl05{ position:absolute; top:32px; left:172px;}
.btl06{ position:absolute; top:32px; left:345px;}
.btl07{ position:absolute; top:65px; left:1px;}
.btl08{ position:absolute; top:65px; left:172px;}
.btl01 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -1px -1px;}
.btl02 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -172px -1px;}
.btl03 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -345px -1px;}
.btl04 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -1px -32px;}
.btl05 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -172px -32px;}
.btl06 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -345px -32px;}
.btl07 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -1px -65px;}
.btl08 a:hover{ background:url(../images/bottomlinks_on.gif) top left no-repeat; background-position: -172px -65px;}
#top_link2 a{ display:block; width: 135px; height:19px; background:url(../images/top_link.gif) no-repeat; float:right;}
#pvoice_title01 h1, #pvoice_title02 h1, #pvoice_title03 h1, #pvoice_title04 h1, #pvoice_title05 h1,
#pvoice_title06 h1, #pvoice_title07 h1, #pvoice_title08 h1{ margin:0px; padding:0px;}

#pvoice_title01{ background:url(../voice/img/pvoice_title01.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title02{ background:url(../voice/img/pvoice_title02.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title03{ background:url(../voice/img/pvoice_title03.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title04{ background:url(../voice/img/pvoice_title04.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title05{ background:url(../voice/img/pvoice_title05.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title06{ background:url(../voice/img/pvoice_title06.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title07{ background:url(../voice/img/pvoice_title07.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
#pvoice_title08{ background:url(../voice/img/pvoice_title08.gif) 0 0 no-repeat; display:block; width:514px; height:58px;}
img.mrgT{margin-top:10px;}
img.mrgL{margin-left:10px;}

/* inherited from http://www.justsystems.com/jp/label/use/css/style.css */
#contents div.rbox4_pop08 {float:right; width:268px;}
#contents div.lbox4_pop08 {float:left; width:226px;}